@{
    ViewBag.Title = "About us";
}
<h2>@ViewBag.Title</h2>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <p>
                <font size="4">
                    <i>
                        <b>Little friends</b> is a young Bulgarian organization founded
                        by a group of volunteers with a common goal – solving the stray dogs and cats problem in Sofia.
                        We run a shelter for homeless dogs – the Farm, where 200 souls find
                        treatment and care 365 days in a year. We are always open for adoptions
                    </i>
                </font>
            </p>
            <br />
        </div>
        <div class="col-md-6">
            <img src="https://3.bp.blogspot.com/-0TgC_wy72ZY/Vrtxb6D91hI/AAAAAAAAEZM/NkUdUe8JJIg/s1600/adopt.jpg" width="170px" />
        </div>
      </div>       
        <div class="row">
            <div class="col-md-3">
                <ul>
                    <li>
                        <font size="3">We strive to find good and responsible owners for the dogs and cats place at our care. We seek homes for them both in Bulgaria and abroad.</font>
                    </li>
                </ul>
            </div>
            <div class="col-md-3">
                <ul>
                    <li>
                        <font size="3">We do our best to respond to any signals about dogs and cats in distress but our resources are very limited at times. We take on injured and abused animals nearly every day.</font>
                    </li>
                </ul>
            </div> 
            <div class="col-md-6" style="text-align:right">
                <img src="http://assets.inhabitat.com/wp-content/blogs.dir/1/files/2015/06/dog-and-cat-meat-legal-in-united-states-1-1020x610.jpg" width="400px" />
            </div>
        </div>
  </div>