@{
    ViewBag.Title = "Contact Us";
}
<h2 style="text-align:center">@ViewBag.Title.</h2>
<h3 style="text-align:center">@ViewBag.Message</h3>
<br />

<div class="col-md-3">
    <img src="http://96.30.15.4/~kritter1/wp-content/uploads/2011/11/DogCatAndPhone900.jpg" width="300px" />
</div>

<div class="col-md-6" style="text-align:center">
    <br />
    <br />
    <br />
    <address>
        <strong>Adress:</strong> Sofia, Bulgaria, street "Tintyava" &#8470;84
    </address>
    <address>
        <strong>Where to find us:</strong><a href="https://goo.gl/maps/1X2UYGEfMJ32" target="_blank"> Google Maps</a>
    </address>

    <address>
        <strong>E-mail:</strong> help@djudje.com<br />
        <strong>Phone:</strong> +359 896 000 012
    </address>
</div>

<div class="col-md-3">
    <img src="https://westcoastdogandcat.org/wp-content/uploads/Thank-you-for-helping-us-cat.jpg" width="250px"/>
</div>
