
@{
    ViewBag.Title = "Donate";
}

<h2>Donate</h2>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <p>We need your financial support in order to put a stop to cruelty to animals.</p>
            <p>
                Together, we can make the world a better place for all beings. Your donation will go
                to work instantly to help animals suffering and dying on factory farms,
                in laboratories, in the fur industry, and in circuses and other forms of “entertainment.”
            </p>
            <p>
                An annual donation of $16 or more entitles you to many member benefits.
                Members receive a free year’s subscription to our lively magazine Animal Times, which is packed
                full of the latest news, delicious vegan recipes, and easy tips on how to stop animal suffering
                in your own community.
            </p>
            <br />
            <p><b>You can donate in 3 different ways:</b></p>
            <ul>
                <li>Send money to these bank account: BG80 9661 1020 3456 78</li>
                <li>Send SMS with text DMS Little Friends to 17 777</li>
                <li>Also you can donate money,food or anything else that can help our animals at our adress</li>
            </ul>
            <br />
            <p>For more information you can contact us.</p>
        </div>
        <div class="col-md-6">
            <img src="https://tricountyanimalrescue.com/wp-content/uploads/2012/02/thankyou-1.jpg" width="350px" />
        </div>
    </div>
</div>